@font-face {
    font-family: Gtek;
    src: url(../fonts/Gtek.ttf);
}

@font-face{
    font-family: Emotion;
    src: url(../fonts/Emotion.otf);
}

@font-face{
    font-family: Scarre;
    src: url(../fonts/Scarre.ttf);
}

body{
    background-color:#000000
}

.title{
    text-align: center;
    width:100%;
    position: relative;
    font-family: Gtek; 
    color:#F8F8FF;
}

.help{
    position: relative;
    font-family: Gtek; 
    color:#F8F8FF;
    font-size: 28px;
    left:5%;
}

.button{

    position: relative;
    background-color: #000000;
    border: 1;
    color: white;
    padding: 15px 40px;
    text-align: center;
    font-family: Gtek;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}
.center{
    text-align:center;
}
.container{
    display: block;
    position: relative;
    overflow: hidden; 
    text-align: center;
    height:80%;
}

svg{
    top:12%;
    border: 1px solid white; 
    display: block;
    position: absolute;
    height: 79%;
    left:28.5%;
}

p{
    color: white;
    position: absolute;
    right: 75%;
    left: 5%;
    top: 25%;
    font-family: Emotion;
    font-size: 24px;
    
}

.scoreboard{
    position: absolute;
    left: 75%;
    color: white;
    border: 1px solid white;
    font-size: 24px;
    padding: 30px 20px;
}

.score{
    position: relative;
    color: white;
    font-size: 30px;
}